.beer-card {
    font-size: 13.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding: 20px;
}

.beer-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex: 0 0 45px;
}

.beer-img {
    max-height: 100%;
    max-width: 100%;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.beer-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-and-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}